$primary-color: #2a2a3c;
$text-color: #fff;
$secondary-color: #aaa;

.header {
  padding: 6rem;
  background-color: $primary-color;
  margin-top: 56px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    gap: 1rem; 
    margin: 0 auto;
    max-width: 950px;
  }

  &__text {
    text-align: center;

    h1 {
      font-size: clamp(1.5rem, 5vw, 3rem); // Mínimo: 1.5rem, máximo: 3rem, ajusta com 5% da largura da tela
      color: $text-color;
      margin: 0;
      max-width: 1260px; // Limita o tamanho máximo em telas grandes
      min-width: 80px; 
    }

  }

  &__logo {
    width: 30%; // A largura da imagem será proporcional ao container
    height: auto; // Garante que a altura seja ajustada proporcionalmente
    max-width: 250px; // Limita o tamanho máximo em telas grandes
    min-width: 80px; // Limita o tamanho mínimo em telas pequenas
    transition: all 0.3s ease; // Adiciona suavidade na transição de tamanho
  }

}

.header__tagline {
  font-size: clamp(1rem, 3vw, 1.5rem); // Ajusta dinamicamente com o tamanho da viewport
  color: $secondary-color; // cor vermelha aplicada aqui
  margin-top: 5px; 
}

.header__highlight {
  color: #00bfff; // Um leve destaque dourado
  font-weight: bold;
  position: relative;
}

.header__highlight::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #00bfff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header__highlight:hover::after {
  transform: scaleX(1);
}
